@import '/public/css/style.scss';

.desktop {
    display: flex;

    @media screen and (max-width:992px) {
        display: none;
    }
}

.mobile {
    display: none;
    @media screen and (max-width:992px) {
        display: flex;
    }
}

.pe-col{
    cursor: pointer;
}